{% extends "MLFirstBundle::layout.html.twig" %}


{% block ml_body %}

    <h2>Annonce supprimée, elle ne vous importunera plus.</h2>


    <p>
        <a href="{{ path('ml_home') }}" class="btn btn-secondary">
            Retour à la liste
        </a>
    </p>

{% endblock %}